:root {
    --green: #a8dadc;
    --greenpastel: #f1faee;
    --bluedark: #1d3557;
    --black: #121212;
    --blacklogo: #333333;
    --white: #f1faee;
    --blacktrue: #000000;
}

*{
    margin: 0;
    padding: 0;
    background-color: #608394;
}

.largeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.outerFoot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Secular One';
    margin-top: 30px;
}

.top-footer-top{
    color: #ffeeff;
    font-size: 64px;
    -webkit-text-stroke: 2px var(--bluedark);
}

.top-footer-low{
    display: flex;
    color: #121212;
    font-size: 24px;
}

.top-footer-low img{
    width: 55px;
}

.low-footer{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    /* background-color: black; */
    margin-top: 60px;
}

.low-footer-left{
    display: flex;
    flex-direction: column;
}

.link-desc p{
    text-align: center;
    font-family: 'Merriweather';
    font-size: 41px;
    font-weight: bold;
    color: #ffeeff;
    -webkit-text-stroke: 2px var(--bluedark);
}

.icon-box{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.left-icon, .right-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.twitter, .facebook, .website, .instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.twitter, .facebook, .website, .instagram img{
    width: 55px;
}

.twitter, .facebook, .website, .instagram p{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 24px;
}

.low-footer-right img{
    width: 514px;
}
